<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @feedback.email %> sent a feedback</h3>
    </br>
    <h5>Feedback</h5>
    <p><%= @feedback.feedback %></p>
  </body>
</html>
