<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @feedback.email %></h3>
    <h4>Thank you for your feedback on RoRSnippet. Please be assured that this feedback is being sent directly to the RoRSnippet team. We will take some time to discuss and get will get in touch with you after our discussion.</h4>
    </br>
    <h5>Your Feedback</h5>
    <p><%= @feedback.feedback %></p>
  </body>
</html>
