<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to RoR Snippets, <%= @email %></h1>
    <p>
      You have successfully signed up to http://rorsnippet.herokuapp.com/login,
      your login ID is: <%= @email %>.<br>
    </p>
    <p>
      To activate and start using the site, just follow this link: <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>