<body id="newuser">

  <!-- <header class="header black-bg">
    <a href="index.html" class="logo"><b>This will be the main navi bar -Home- -SignUp- -Login-</b></a>
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
      </ul>
    </div>
  </header> -->
<%= render 'form' %>

<%-# link_to 'Back', users_path %>

</body>
