<h2>Thank you for your feedback</h2>

<h4><%= @userfeedback.email %></h4>
<h6><%= @userfeedback.feedback %></h6>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="actions pull-left">
      <%= link_to "Back", "/index", :class => "button" %>
      <!-- TODO: Go back to personal snippets if request came from personal snippets -->
      <!-- <%= button_to "Back", "/index", :method => :get %> -->
    </div>
  </div>
</div>
